$color-tomato: #fe7865;
$link--active:#d4470b;
$gray--dark: #141517;
$white--intro: #ffffff;
$button--hover: #f17d4b;
$gray--hover-90:rgba(44, 46, 63, 0.9);
$gray--burger: #fbf8f8;
$gray--text:rgba(44, 46, 63, 1);
$gray--text-30: rgba(44, 46, 63, 0.3);
$box--shadow-01: rgba(41, 54, 66, 0.1);
$gray--border: #d7d9df;
$bg--blue:#2c5aa3;
$modal--text: #48494D;
$modal--close: #C4C4C4;


$font-basic: "Montserrat", "Arial", sans-serif;
$font-extra: "Poppins", "Helvetica", sans-serif;

$width-mobile: 767px;

$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
