.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white--intro;
  text-transform: uppercase;

  height: 40px;

  background-color: $color-tomato;
  border: none;

  padding: 30px 40px;

  &:hover {
    background-color: $button--hover;
  }

  &:focus {
    background-color: $button--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
