.extra-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.extra-info__title {
  letter-spacing: 0.5px;
  padding-left: 5%;

  margin-bottom: 10px;
}

.extra-info__text {
  font-size: 14px;

  padding-left: 16.2%;
  letter-spacing: 1px;
}

@media (max-width: $tablet-width) {
  .extra-info {
    width: 100%;

    border-top: 1px solid $gray--border;
  }

  .extra-info__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;

    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
  }

  .extra-info__text {
    padding-left: 0;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 11px;
  }
}

@media (max-width: $width-mobile) {
  .extra-info__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;

    padding-right: 0;
    padding-left: 7px;
    padding-top: 11px;
  }

  .extra-info__text {
    padding-left: 8px;
  }
}
