.main-nav {
  display: flex;
  justify-content: space-between;

  font-weight: 500;

  font-size: 14px;
  line-height: 17px;

  a {
    color: $gray--dark;

    &:hover {
      color: $color-tomato;
    }

    &:focus {
      color: $color-tomato;
    }

    &:active {
      color: $link--active;
    }
  }

  .main-nav__phone {
    color: $color-tomato;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    text-decoration-line: underline;

    &::after {
      content: "";
      position: absolute;

      bottom: -40%;
      left: -25%;

      width: 30px;
      height: 30px;
      background-image: url("../img/phone-red.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      color: $button--hover;
    }

    &:focus {
      color: $button--hover;
    }

    &:active {
      color: $link--active;
    }
  }
}

.main-nav__tel {
  margin-top: 43px;
  padding-left: 58px;
  padding-right: 15px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 43px;

  min-width: 238px;
}

.main-nav__item {
  margin-right: 41px;

  letter-spacing: 1.2px;
  cursor: pointer;
}


@media (max-width: $tablet-width) {
  .main-nav__tel {
    display: none;
  }

  .main-nav__list {
    flex-direction: column;

    margin-top: 82px;
    margin-bottom: 60px;
    flex-grow: 1;
  }

  .main-nav {
    font-weight: 600;

    font-size: 20px;
    line-height: 28px;
  }

  .main-nav__item {
    padding: 17px 16px;

    margin: 0;
    margin-bottom: 30px;

    background-color: $gray--burger;

    &:hover {
      background-color: $gray--hover-90;
    }

    &:focus {
      background-color: $gray--hover-90;
    }

    &::after {
      content: "";
      position: absolute;

      bottom: auto;
      right: 16px;

      width: 25px;
      height: 25px;
      background-image: url("../img/arrow-right.svg");
      background-repeat: no-repeat;
    }
  }
}
