.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 1170px;
}

.page-header__block {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.page-header__toggle {
  display: none;
}

.page-header__logo-image {
  width: 57.02px;
  height: 22px;
}

.page-header__logo {
  display: block;
}

@media (max-width: $tablet-width) {
  .page-header {
    width: 100%;
    flex-direction: column;
  }

  .page-header__block {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .page-header__toggle {
    display: block;
    width: 72px;
    height: 50px;

    background-color: $white--intro;
    border: none;

    cursor: pointer;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
  }

  .page-header--close .page-header__toggle {
    background-image: url("../img/menu-burger.svg");
    background-repeat: no-repeat;
    background-color: $color-tomato;
    border: none;
    background-position: center;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--close .main-nav__list {
    display: none;
  }

  .page-header__logo-image {
    width: 44px;
    height: 17px;
  }

  .page-header__logo {
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media (max-width: $width-mobile) {
  .page-header__toggle {
    width: 50px;
    height: 50px;
  }

  .page-header__logo {
    margin-left: 15px;
  }
}
